<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/adminupdate" method="POST" class="update">
        <div class="input-control">
            <label for="update_heading">Heading</label>
            <input type="text" id="update_heading" name="heading"/>
        </div>
        <div class="input-control">
            <label for="add_description">Description</label>
            <input type="text" id="description" name="description"/>
        </div>
        <div class="button-div">
            <input class="btn" type="submit" value="Submit"/> 
            </div>
    </form>
    </div>
</body>
</html>