<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Update</title>
    <link rel="stylesheet" href="./css/viewmorepopup.css" />
    <link rel="stylesheet" href="./css/studentdatafullview.css" />
    <link rel="stylesheet" href="./css/admindashboard.css">
    <link rel="stylesheet" href="./css/adminUpdate.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500&display=swap" rel="stylesheet">
  </head>
  <body> 

  <header>
    <div class="collagelogo">
      <img src="http://recsonbhadra.ac.in/static/media/Collegelogo.96cbe2da1f0150aefe6d.png" alt="logo" class="logo">
    </div>
    <div class="college-name middle">
      <h3>Rajkiya Engineering College, Sonbhadra</h3>
      <h5>An AICTE approved Government Engineering College affliated to AKTU Lucknow (College code-841)</h5>
    </div>
    <div class="admin-name">
      <img class="icon" src="./assets/studenticon1.png" alternative="" />
      <div class="input"> <%= role %> </div>
    </div>
  </header>

  <div class="grid-container">

    <div class="side-bar">
      <ul class="sideMenu-list">
        <h2 class="sideMenu-heading text-center">Dashboard</h2>

        <% if (role === "RECDSW" || role === "RECDeanAcad") { %>
        <li class="sideMenu-list-item" id="latest_updates">
          <a class=" sideMenu-active" href="/layout">
            <span>-</span>
            Registering New Student
          </a>
        </li>
        <% } %>

        <% if (role !== "Director" && role !== "RECDSW") { %>
        <li class="sideMenu-list-item " id="registration_status">
          <a class="sideMenu-active" href="/viewdata">
            <span>-</span>
            View Students Data
          </a>
        </li>
        <% } %>

        <li class="sideMenu-list-item" id="data-verified">
          <a href="/viewverifieddata" class="sideMenu-active">
            <span>-</span>
            View verified Data
          </a>
        </li>


        <% if(role === "RECDSW" || role === "RECDeanAcad") { %>
        <li class="sideMenu-list-item " id="registration_status">
          <a class="sideMenu-active" href="/adminfeeform">
            <span>-</span>
            Fee Structure
          </a>
        </li>
        <% } %>

        <li class="sideMenu-list-item " id="registration_status">
          <a class="sideMenu-active" href="/adminupdate">
            <span>-</span>
            Adding Updates
          </a>
        </li>

        <li class="sideMenu-list-item " id="latest_updates">
          <a href="/logout">
            <button class="log-out-btn">Log Out</button>
          </a>
        </li>

      </ul>
    </div>


    <div class="container">
        <h2> New Updates </h2>
        <form action="/adminupdate" method="POST" class="update">
        <div class="input-control">
            <label for="update_heading">Heading:</label>
            <input class="update-heading" type="text" id="update_heading" name="heading"/>
        </div></br>
        <div class="input-control">
            <label for="add_description">Description:</label>
            <textarea class="update-description" type="text" id="description" name="description"></textarea>
        </div>
        <div class="button-div">
            <input class="btn" type="submit" value="Submit"/> 
        </div>
        </form>
    </div>
    </div>
</body>
</html>