<!DOCTYPE html>
<html>
<head>
  <title>Admin-Fee-Form</title>
  <link rel="stylesheet" href="./adminfeeform.css">
</head>
<body>
  <h2> Annual Fee Details </h2>
  <div class="container">
    <form class = "adminfee-form" method="post" >
      <div class="form-container">
          <h3>1st Year</h3>
        <div class="input-control">
          <label for="academic-fee" >Academic Fee:</label>
          <input type="number" id="academic-fee" name="academic_fee" required>
        </div></br></br>
        <div class="input-control">
          <label for="maintenance-fee">Maintenance Fee:</label>
          <input type="number" id="maintenance-fee" name="maintenance_fee" required>
        </div></br></br>
        <div class="input-control" >
          <label for="hostel-fee">Hostel Fee:</label>
          <input type="number" id="hostel-fee" name="hostel_fee" required>
        </div></br></br>
        <div class="input-control">
          <label for="mess-fee">Mess Fee:</label>
          <input type="number" id="mess-fee" name="mess_fee" required>
        </div></br></br>
        <div class="input-control">
          <label for="mess-security-fee">Mess Security Fee:</label>
          <input type="number" id="mess-security-fee" name="mess_security_fee" required>
        </div></br></br>
      </div></br></br>

      <div class="form-container">
        <h3>2nd Year</h3>
        <div class="input-control">
          <label for="academic-fee" >Academic Fee:</label>
          <input type="number" id="academic-fee" name="academic_fee" required>
        </div></br></br>
        <div class="input-control">
          <label for="maintenance-fee">Maintenance Fee:</label>
          <input type="number" id="maintenance-fee" maintenance_fee" required>
        </div></br></br>
        <div class="input-control" >
          <label for="hostel-fee">Hostel Fee:</label>
          <input type="number" id="hostel-fee" name="hostel_fee" required>
        </div></br></br>
        <div class="input-control">
          <label for="mess-fee">Mess Fee:</label>
          <input type="number" id="mess-fee" name="mess_fee" required>
        </div></br></br>
        <div class="input-control">
          <label for="mess-security-fee">Mess Security Fee:</label>
          <input type="number" id="mess-security-fee" name="mess_security_fee" required>
        </div></br></br>
      </div>

      <div class="form-container">
          <h3>3rd Year</h3>
        <div class="input-control">
          <label for="academic-fee" >Academic Fee:</label>
          <input type="number" id="academic-fee" name="academic_fee" required>
        </div></br></br>
        <div class="input-control">
          <label for="maintenance-fee">Maintenance Fee:</label>
          <input type="number" id="maintenance-fee" name="maintenance_fee" required>
        </div></br></br>
        <div class="input-control" >
          <label for="hostel-fee">Hostel Fee:</label>
          <input type="number" id="hostel-fee" name="hostel_fee" required>
        </div></br></br>
        <div class="input-control">
          <label for="mess-fee">Mess Fee:</label>
          <input type="number" id="mess-fee" name="mess_fee" required>
        </div></br></br>
        <div class="input-control">
          <label for="mess-security-fee">Mess Security Fee:</label>
          <input type="number" id="mess-security-fee" name="mess_security_fee" required>
        </div></br></br>
      </div></br></br>

      <div class="form-container">
          <h3>4th Year</h3>
        <div class="input-control">
          <label for="academic-fee" >Academic Fee:</label>
          <input type="number" id="academic-fee" name="academic_fee" required>
        </div></br></br>
        <div class="input-control">
          <label for="maintenance-fee">Maintenance Fee:</label>
          <input type="number" id="maintenance-fee" name="maintenance_fee" required>
        </div></br></br>
        <div class="input-control" >
          <label for="hostel-fee">Hostel Fee:</label>
          <input type="number" id="hostel-fee" name="hostel_fee" required>
        </div></br></br>
        <div class="input-control">
          <label for="mess-fee">Mess Fee:</label>
          <input type="number" id="mess-fee" name="mess_fee" required>
        </div></br></br>
        <div class="input-control">
          <label for="mess-security-fee">Mess Security Fee:</label>
          <input type="number" id="mess-security-fee" name="mess_security_fee" required>
        </div></br></br>
      </div></br></br>

      <div class="input-control">
        <input type="submit" value="Submit">
      </div></br></br>

    </form>

  </div>
  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <script src="index.js"></script>
</body>
</html>
