<!DOCTYPE html>
<html>
<head>
  <title>Admin-Fee-Form</title>
  <link rel="stylesheet" href="./css/adminfeeform.css">
  <link rel="stylesheet" href="./css/admindashboard.css">

</head>
<body>
  <header>
    <div class="collagelogo">
        <img src="http://recsonbhadra.ac.in/static/media/Collegelogo.96cbe2da1f0150aefe6d.png" alt="logo" class="logo">
    </div>
    <div class="college-name middle">
        <h3>Rajkiya Engineering College, Sonbhadra</h3>
        <h5>An AICTE approved Government Engineering College affliated to AKTU Lucknow(College code-841)</h5>
    </div>

  </header>

  <h2> Annual Fee Details </h2>
  
  <div class="container">
    <form class = "adminfee-form" method="post" >
      <div class="all-form">
        <div class="form-container">
          <h3>Fee</h3>
          <div class="form-details">
            <div class="input-control">
              <label class="asterick"for="year">Year</label>
              <select type="text" name="year" id="year" autocomplete="off">
                  <option value="">Select year</option>
                  <option value="1st">1st Year</option>
                  <option value="2nd">2nd Year</option>
                  <option value="3rd">3rd Year</option>
                  <option value="4th">4th Year</option>
              </select>
          </div>
          
            <div class="input-control">
              <label for="academic-fee" >Academic Fee:</label>
              <input type="number" id="academic-fee" name="academic_fee" required>
            </div>

            <div class="input-control">
              <label for="maintenance-fee">Maintenance Fee:</label>
              <input type="number" id="maintenance-fee" name="maintenance_fee" required>
            </div>

            <div class="input-control" >
              <label for="hostel-fee">Hostel Fee:</label>
              <input type="number" id="hostel-fee" name="hostel_fee" required>
            </div>

            <div class="input-control">
              <label for="mess-fee">Mess Fee:</label>
              <input type="number" id="mess-fee" name="mess_fee" required>
            </div>

            <div class="input-control">
              <label for="mess-security-fee">Mess Security Fee:</label>
              <input type="number" id="mess-security-fee" name="mess_security_fee" required>
            </div>
          </div>
        </div>


        
          </div>
        </div>
      </div>
        <div class="input-control">
          <input type="submit" value="Submit">
        </div>
      
    </form>
  </div>

  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <script src="js/index.js"></script>
</body>
</html>