<!DOCTYPE html>
<html>
<head>
  <title>Admin-Fee-Form</title>
  <link rel="stylesheet" href="/css/adminfeeform.css">
</head>
<body>
  <h2> Annual Fee Details </h2>
  <div class="container">
    <div class="form-container">
      <h3>1st Year</h3>
    <form action="/submit-form" method="post">

      <div class="input-control">
        <label for="academic-fee" >Academic Fee:</label>
        <input type="number" id="academic-fee" name="academic-fee" required>
      </div></br></br>
      <div class="input-control">
        <label for="maintenance-fee">Maintenance Fee:</label>
        <input type="number" id="maintenance-fee" name="maintenance-fee" required>
      </div></br></br>
      <div class="input-control" >
        <label for="hostel-fee">Hostel Fee:</label>
        <input type="number" id="hostel-fee" name="hostel-fee" required>
      </div></br></br>
      <div class="input-control">
        <label for="mess-fee">Mess Fee:</label>
        <input type="number" id="mess-fee" name="mess-fee" required>
      </div></br></br>
      <div class="input-control">
        <label for="mess-security-fee">Mess Security Fee:</label>
        <input type="number" id="mess-security-fee" name="mess-security-fee" required>
      </div></br></br>
      <div class="input-control">
        <input type="submit" value="Submit">
      </div></br></br>
    </form>
    </div>
    <div class="form-container">
      <h3>2nd Year</h3>
    <form action="/submit-form" method="post">
      <div class="input-control">
        <label for="academic-fee">Academic Fee:</label>
        <input type="number" id="academic-fee" name="academic-fee" required>
      </div></br></br>
      <div class="input-control">
        <label for="maintenance-fee">Maintenance Fee:</label>
        <input type="number" id="maintenance-fee" name="maintenance-fee" required>
      </div></br></br>
      <div class="input-control">
        <label for="hostel-fee">Hostel Fee:</label>
        <input type="number" id="hostel-fee" name="hostel-fee" required>
      </div></br></br>
      <div class="input-control">
        <label for="mess-fee">Mess Fee:</label>
        <input type="number" id="mess-fee" name="mess-fee" required>
      </div></br></br>
      <div class="input-control">
        <label for="mess-security-fee">Mess Security Fee:</label>
        <input type="number" id="mess-security-fee" name="mess-security-fee" required>
      </div></br></br>
      <div class="input-control">
        <input type="submit" value="Submit">
      </div></br></br>
    </form>
    </div><div class="form-container">
      <h3>3rd Year</h3>
    <form action="/submit-form" method="post">
      <div class="input-control">
        <label for="academic-fee">Academic Fee:</label>
        <input type="number" id="academic-fee" name="academic-fee" required>
      </div></br></br>
      <div class="input-control">
        <label for="maintenance-fee">Maintenance Fee:</label>
        <input type="number" id="maintenance-fee" name="maintenance-fee" required>
      </div></br></br>
      <div class="input-control">
        <label for="hostel-fee">Hostel Fee:</label>
        <input type="number" id="hostel-fee" name="hostel-fee" required>
      </div></br></br>
      <div class="input-control">
        <label for="mess-fee">Mess Fee:</label>
        <input type="number" id="mess-fee" name="mess-fee" required>
      </div></br></br>
      <div class="input-control">
        <label for="mess-security-fee">Mess Security Fee:</label>
        <input type="number" id="mess-security-fee" name="mess-security-fee" required>
      </div></br></br>
      <div class="input-control">
        <input type="submit" value="Submit">
      </div></br></br>
    </form>
    </div>
    <div class="form-container">
      <h3>4th Year</h3>
    <form action="/submit-form" method="post">
      <div class="input-control">
        <label for="academic-fee">Academic Fee:</label>
        <input type="number" id="academic-fee" name="academic-fee" required>
      </div></br></br>
      <div class="input-control">
        <label for="maintenance-fee">Maintenance Fee:</label>
        <input type="number" id="maintenance-fee" name="maintenance-fee" required>
      </div></br></br>
      <div class="input-control">
        <label for="hostel-fee">Hostel Fee:</label>
        <input type="number" id="hostel-fee" name="hostel-fee" required>
      </div></br></br>
      <div class="input-control">
        <label for="mess-fee">Mess Fee:</label>
        <input type="number" id="mess-fee" name="mess-fee" required>
      </div></br></br>
      <div class="input-control">
        <label for="mess-security-fee">Mess Security Fee:</label>
        <input type="number" id="mess-security-fee" name="mess-security-fee" required>
      </div></br></br>
      <div class="input-control">
        <input type="submit" value="Submit">
      </div></br></br>
    </form>
    </div>
  </div>
</body>
</html>
