<html>
<head>
    <title>Dashboard-Documents</title>
    <link rel="stylesheet" href="/css/docs.css">
</head>

<body>
    <header>
        <div class="collagelogo">
            <img src="http://recsonbhadra.ac.in/static/media/Collegelogo.96cbe2da1f0150aefe6d.png" alt="logo"
                class="logo">
        </div>
        <div class="college-name middle">
            <h3>Rajkiya Engineering College, Sonbhadra</h3>
            <h5>An AICTE approved Government Engineering College affliated to AKTU Lucknow(College code-841)</h5>
        </div>
        <div class="student-name">
            <input class="input" type="text" id="student_name" name="name" />
        </div>

    </header>

    <div class="grid-container">
        <div class="side-bar">
            <ul class="sideMenu-list">
                <h2 class="sideMenu-heading text-center">My Dashboard</h2>
                <li class="sideMenu-list-item" id="latest_updates">
                    <a class=" sideMenu-active" href="/dashboard">
                        <span>-</span>
                        Latest Updates
                    </a>
                </li>


                <li class="sideMenu-list-item " id="registration_status">
                    <a class="" href="/studentform">
                        <span>-</span>
                        Registration Form
                    </a>
                </li>

                <li class="sideMenu-list-item " id="registration_status">
                    <a class="" href="/status">
                        <span>-</span>
                        Registration Status
                    </a>
                </li>

                <li class="sideMenu-list-item " id="academic_calender">
                    <a class=" " href="/calendar">
                        <span>-</span>
                        Academic Calender
                    </a>
                </li>
                <!-- <li class="sideMenu-list-item " id="Documents_for_download">
                    <a class=" " href="">
                        <span>-</span>
                        Documents For Download
                    </a>
                </li> -->
                <li class="sideMenu-list-item " id="Submitted_documents">
                    <a class=" " href="/docs">
                        <span>-</span>
                        Submitted Documents
                    </a>
                </li>
                <li class="sideMenu-list-item " id="pending_payments">
                    <a class=" " href="/dues">
                        <span>-</span>
                        Pending Payments
                    </a>
                </li>
                <li class="sideMenu-list-item" id="logout_button">
                    <a href="/logout">
                        <button class="log-out-btn">Log Out</button>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="dashboard">

                <h2 class="dashboard-heading">Academic Calendar</h2>
                <p class="custom_calendar_info"> We recommend that you add all the calendars below to your email's
                    Google Calendar by clicking the "Add Calendar" buttons.</p>
                <div class="dashboard-content">
                    </hr>
                    <section class="common-calendar">
                        <div class="academic-calendar">
                            <span class="calendar">Even/Odd Semester Calendar</span>
                            <a class="" target="_blank"
                                href="http://calendar.google.com/calender/u/0?cid=Y18xb2R0a2RldjZrc2xq0GpzMGMyYmJiMnZpb0Bncm91cC5jYWxlbmRhci%nb29nbGUuY29t">
                                <div class="Dashboard-button custom-calendar-add">ADD CALENDAR</div>
                            </a>
                        </div>
                        <p class="custom-calendar-info">This calendar shows the overall term schedule common for all
                            students - Even/Odd semester starting dates, mid-semester exam dates, mid-semester/semester
                            breaks,registration dates,etc.</p>
                    </section>

                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>