<html>

  


<head>
    <title>Dashboard-Documents</title>
    <link rel="stylesheet" href="./css/docs.css">
    <link rel="stylesheet" href="./css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="collagelogo">
            <img src="http://recsonbhadra.ac.in/static/media/Collegelogo.96cbe2da1f0150aefe6d.png" alt="logo"
                class="logo">
        </div>
        <div class="college-name middle">
            <h3>Rajkiya Engineering College, Sonbhadra</h3>
            <h5>An AICTE approved Government Engineering College affliated to AKTU Lucknow(College code-841)</h5>
        </div>
        <div class="student-name">
            <img class="icon" src="./assets/studenticon1.png" alternative="" />
            <input class="input student-name" type="text" id="student_name" name="name"
                value="<%= dataToBePassedToView.name %>" />
        </div>
    </header>

    <div class="grid-container">
        <div class="side-bar">
            <ul class="sideMenu-list">
                <h2 class="sideMenu-heading text-center">My Dashboard</h2>

                <li class="sideMenu-list-item" id="latest_updates">
                    <a class=" sideMenu-active" href="/dashboard">
                        <span>-</span>
                        Latest Updates
                    </a>
                </li>


                <li class="sideMenu-list-item " id="registration_status">
                    <a class="sideMenu-active" href="/studentform">
                        <span>-</span>
                        Registration Form
                    </a>
                </li>

                <li class="sideMenu-list-item " id="registration_status">
                    <a class=" sideMenu-active" href="/status">
                        <span>-</span>
                        Registration Status
                    </a>
                </li>

                <li class="sideMenu-list-item " id="Submitted_documents">
                    <a class=" sideMenu-active " href="/docs">
                        <span>-</span>
                        Submitted Documents
                    </a>
                </li>
                <li class="sideMenu-list-item " id="pending_payments">
                    <a class=" sideMenu-active " href="/dues">
                        <span>-</span>
                        Pending Payments
                    </a>
                </li>

                <li class="sideMenu-list-item " id="logout-button">
                    <a href="/logout">

                        <button class="log-out-btn">Log Out</button>
                    </a>
                </li>

            </ul>
        </div>

        <div class="container">
            <div class="dashboard">
                <h2 class="docs-heading">Submitted Documents</h2>
                <div class="dashboard-content">
                    <div class="submitted-documents">


                        <div class="submitted-docs ">
                            <div class="document-status">
                                <i class="fa fa-check-circle green-bg">
                                </i>
                            </div>
                            <div class="document-type">
                                <span class="mr-2 font-weight-600 document_type_span"> Academic Fee Receipt</span>
                                <div class="document-action dashboard-button text-center">
                                    <a href="/download/<%= docArray.academicfee_receipt %>" target="_blank" class="text-decoration-none">VIEW DOCUMENT</a>
                                </div>
                            </div>
                        </div>
                        <div class="submitted-docs ">
                            <div class="document-status">
                                <i class="fa fa-check-circle green-bg">
                                </i>
                            </div>
                            <div class="document-type">
                                <span class="mr-2 font-weight-600 document_type_span"> Hostel Fee Receipt</span>
                                <div class="document-action dashboard-button text-center">
                                    <a href="" target="_blank" class="text-decoration-none">VIEW DOCUMENT</a>
                                </div>
                            </div>
                        </div>
                        <div class="submitted-docs ">
                            <div class="document-status">
                                <i class="fa fa-check-circle green-bg">
                                </i>
                            </div>
                            <div class="document-type">
                                <span class="mr-2 font-weight-600 document_type_span"> Mess Fee Receipt </span>
                                <div class="document-action dashboard-button text-center">
                                    <a href="/download" target="_blank" class="text-decoration-none">VIEW DOCUMENT</a>
                                </div>
                            </div>
                        </div>



                        <div class="submitted-docs">
                            <div class="document-status">
                                <i class="fa fa-check-circle green-bg"></i>
                            </div>
                            <div class="document-type">
                                <span class="mr-2 font-weight-600 document_type_span"> Category Certificate </span>
                                <div class="document-action dashboard-button text-center">
                                    <a href="/download" target="_blank" class="text-decoration-none">VIEW DOCUMENT</a>
                                </div>
                            </div>
                        </div>

                        <div class="submitted-docs ">
                            <div class="document-status">
                                <i class="fa fa-check-circle green-bg">
                                </i>
                            </div>
                            <div class="document-type">
                                <span class="mr-2 font-weight-600 document_type_span"> Family Income Certificate </span>
                                <div class="document-action dashboard-button text-center">
                                    <a href="/download" target="_blank" class="text-decoration-none">VIEW DOCUMENT</a>
                                </div>
                            </div>
                        </div>

                        <div class="submitted-docs ">
                            <div class="document-status">
                                <i class="fa fa-check-circle green-bg">
                                </i>
                            </div>
                            <div class="document-type">
                                <span class="mr-2 font-weight-600 document_type_span"> Photogragh </span>
                                <div class="document-action dashboard-button text-center">
                                    <a href="/download" target="_blank" class="text-decoration-none">VIEW DOCUMENT</a>
                                </div>
                            </div>
                        </div>

                        <div class="submitted-docs ">
                            <div class="document-status">
                                <i class="fa fa-check-circle green-bg">
                                </i>
                            </div>
                            <div class="document-type">
                                <span class="mr-2 font-weight-600 document_type_span"> Signature </span>
                                <div class="document-action dashboard-button text-center">
                                    <a href="/download" target="_blank" class="text-decoration-none">VIEW DOCUMENT</a>
                                </div>
                            </div>
                        </div>

                        <div class="submitted-docs ">
                            <div class="document-status">
                                <i class="fa fa-check-circle green-bg">
                                </i>
                            </div>
                            <div class="document-type">
                                <span class="mr-2 font-weight-600 document_type_span"> High School Certificate </span>
                                <div class="document-action dashboard-button text-center">
                                    <a href="/download" target="_blank" class="text-decoration-none">VIEW DOCUMENT</a>
                                </div>
                            </div>
                        </div>

                        <div class="submitted-docs ">
                            <div class="document-status">
                                <i class="fa fa-check-circle green-bg">
                                </i>
                            </div>
                            <div class="document-type">
                                <span class="mr-2 font-weight-600 document_type_span"> Intermediate Certificate </span>
                                <div class="document-action dashboard-button text-center">
                                    <a href="/download" target="_blank" class="text-decoration-none">VIEW DOCUMENT</a>
                                </div>
                            </div>
                        </div>
                        
                            <div class="submitted-docs ">
                                <div class="document-status">
                                    <i class="fa fa-check-circle green-bg">
                                    </i>
                                </div>
                                <div class="document-type">
                                    <span class="mr-2 font-weight-600 document_type_span"> Enrollment Letter </span>
                                    <div class="document-action dashboard-button text-center">
                                        <a href="/download" target="_blank" class="text-decoration-none">VIEW DOCUMENT</a>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>