<html>
    <head>
        <title>Registration Guidelines</title>
        <link rel="stylesheet" href="/css/guideline.css">

    </head>
    <body>

        <header>
            <div class="collagelogo">
                <img src="http://recsonbhadra.ac.in/static/media/Collegelogo.96cbe2da1f0150aefe6d.png" alt="logo" class="logo">
            </div>
            <div class="college-name middle">
                <h3>Rajkiya Engineering College, Sonbhadra</h3>
                <h5>An AICTE approved Government Engineering College affliated to AKTU Lucknow(College code-841)</h5>
            </div>
        </header>
        <div class="heading system-name">
            Academic FAQs
        </div>
        <div class="faq-conatiner" style="width:70%; margin:2% auto;">
            <div>
                <h2 style="padding:1%;">Frequently asked Questions:</h2>
            </div></br></br>
            <div class="Que-Ans" style="margin-left:100px;">
            <h3>Que.1 : What are the other admission procedures needed to perform?</h3></br>
            <h4>Ans : Hard copy of every documents including affidavit, anti-ragging form at the time of physical reporting.</h4></br>
            </div></br></br>
            <div class="Que-Ans" style="margin-left:100px;">
            <h3>Que.2 : What is the mode of fee payment?</h3></br>
            <h4>Ans : Only through the college fee portal.</h4></br>
            </div></br></br>
            <div class="Que-Ans" style="margin-left:100px;">
            <h3>Que.3 : What happens if student is unable to register on time (before portal closes)?</h3></br>
            <h4>Ans : It is mandatory for every student to register themselves before the portal closes. However if it is not such a case then student must report physicaly to their concern department with valid reason and fine.</h4></br>
            </div></br></br>
            <div class="Que-Ans" style="margin-left:100px;">
            <h3>Que.4 : Can I defer my admission?</h3></br>
            <h4>Ans : No.</h4></br>
            </div></br></br>
            <div class="Que-Ans" style="margin-left:100px;">
            <h3>Que.5 : How can I contact the admission office?</h3></br>
            <h4>Ans : You can find contact info in Help Desk section and on the institutions website. Reach out to them via mail, phone,or by visiting in person if possible.</h4></br>
            </div></br></br>
            <div class="Que-Ans" style="margin-left:100px;">
            <h3>Que.6 : How can I check the status of my application registration?</h3></br>
            <h4>Ans : You can usually check the status of your application by logging into the portal. On student dashboard,it typically show updates on the receipt of documents, application completeness, and admission decisions. If you have any concerns, it's best to reachout to the admissions office directly.</h4></br>
            </div></br></br>
            <div class="Que-Ans" style="margin-left:100px;">
            <h3>Que.7 : What are the admission requirements?</h3></br>
            <h4>Ans : Admission requirements includes Enrollment letter, HighSchool Marksheet, Intermediate Marksheet, Cast Certificate, Income Certificate, Aadhar Card etc.</h4></br>
            </div></br></br>
            <div class="Que-Ans" style="margin-left:100px;">
            <h3>Que.8 : What if I don't meet admission requirements?</h3></br>
            <h4>Ans : If you don't meet admission requirements, you should contact admission office.</h4></br>
            </div></br></br>
            <div class="Que-Ans" style="margin-left:100px;">
            <h3>Que.9 : How do I apply for admission?</h3></br>
            <h4>Ans : You need to submit an online application form, along with supporting documents such as .Check guidelines for specific instructions.</h4></br>
            </div></br></br>
            <div class="Que-Ans" style="margin-left:100px;">
            <h3>Que.10 : Where do I have to contact after successful submission of form?</h3></br>
            <h4>Ans : Once the application form is successfully submitted, your form will be scrutinised by RECs staff and if it fulfils the eligibility criteria you will receive a confirmation to that effect at your dashboard. </h4></br>
            </div></br></br>
        </div>
    </body>
</html>