<html>
    <head>
        <title>Registration Guidelines</title>
        <link rel="stylesheet" href="/css/guideline.css">

    </head>
    <body>

        <header>
            <div class="collagelogo">
                <img src="http://recsonbhadra.ac.in/static/media/Collegelogo.96cbe2da1f0150aefe6d.png" alt="logo" class="logo">
            </div>
            <div class="college-name middle">
                <h3>Rajkiya Engineering College, Sonbhadra</h3>
                <h5>An AICTE approved Government Engineering College affliated to AKTU Lucknow(College code-841)</h5>
            </div>
        </header>
        <div class="heading system-name">
            REGISTRATION GUIDELINES ACADEMIC SESSION 2023-24.
        </div>
        <div class="container">
            <h3 style="color:red;">Important Instructions:-</h3></br>
            <ul style="list-style-type:disc;">
            <li>Fee Structure for Academic Session 2022-23 is available on the College Website<a href="http://recsonbhadra.ac.in/academics/fee-structure" style="color:red;">
                http://recsonbhadra.ac.in/academics/fee-structure</a>. The College Fees is to be deposited in
                the following account:</br></br>
                <p class="aca-fee" style="margin-left: 200px;">
                    A/c Name  :  Director, Rajkiya Engineering College, Sonbhadra</br>
                    A/c No.  :  50395130957</br>
                    Bank Name  :  Indian Bank</br>
                    Branch  :  Churk, Sonbhadra (00C621)</br>
                    IFSC  :  IDIB000C621</br>
                </p>
            </li></br>
            <li>Facility & Maintenance Charges: All the students of B.Tech. are also required to deposit
                an amount of Rs. 300/- (on an annual basis) as Facility & Maintenance Charges in the
                following account of Indian Bank (NOT to be used for College and Advance Mess Fees),
                details of which are given below:</br></br>
                <p class="aca-fee" style="margin-left: 200px;">
                    A/c Name  :  Dean Students Welfare, REC Sonbhadra</br>
                    A/c No.  :  50460355344</br>
                    Bank Name  :  Indian Bank</br>
                    Branch  :  Churk, Sonbhadra (00C621)</br>
                    IFSC  :  IDIB000C621</br>
                </p>
            </li></br>
            <li>College Fees, Hostel Mess Fees and Other Fees (Facility & Maintenance Charges/Mess
                Security Deposit) are to be paid only through one of the following payment modes:</br></br>
                1) <a href="https://formbuilder.ccavenue.com/live/rec-sonbhadra" style="color:red;">Online Fee Submission Portal</a> of REC Sonbhadra (link available on the College
                Website).</br>
                2) The Fees can also be paid in Cash at any branch of Indian Bank via Cash Challan.</br>
            </li></br>
            </ul>
            </br></br>
            <h3 style="color:#010081;">Important Note for Fee Submission: </h3></br><p> Other modes of payment (like Direct payment
            through UPI, Demand Draft, Cheque, etc) are <b>NOT</b> allowed for payment of any type of fees.
            All online payments are to be done via Online Fee <a href="https://formbuilder.ccavenue.com/live/rec-sonbhadra" style="color:red;">Submission Portal of REC Sonbhadra</a>
            only.</p></br></br>
            <ul style="list-style-type:disc;">
                <li>All students availing Scholarship and Fee Reimbursement facility are required to submit a
                    valid Income Certificate of their parents and a valid Caste Certificate issued by competent
                    authority at the time of their registration.
                </li></br>
                <li>Submit the following documents in the respective department on the day of registration:</br>
                    <!-- <ol> -->
                    (1) One copy of duly filled “Registration Form for Odd Semester 2022-23” (to be
                    downloaded from Circulars & Notices section of the College Website).</br>
                    (2) Two copies of College Fees Receipt - to be downloaded from Payment History tab of
                    College Fees form on Online Fee Submission Portal / or <a href="http://recsonbhadra.ac.in/pdfdownloads/Fee_challans/CollegeFeesChallan_RECSonbhadra.pdf" style="color:red;">Cash Challan</a> Receipt.</br>
                    (2) Two copies of Receipt for Facility & Maintenance Charges of Rs. 300/- - to be
                    downloaded from Payment History tab of Other Fees form on Online Fee Submission
                    Portal / or <a href="http://recsonbhadra.ac.in/pdfdownloads/Fee_challans/CollegeFeesChallan_RECSonbhadra.pdf"style="color:red;">Cash Challan</a> Receipt.</br>
                    (3) Affidavit for Anti-Ragging by Student (Annexure I) format to be downloaded from
                    College/AKTU/AICTE/UGC Website.</br>
                    (4) Affidavit for Anti-Ragging by Parent/Guardian (Annexure II) - format to be
                    downloaded from College/AKTU/AICTE/UGC Website.</br>
                    (5) Undertaking by Student & Parent/Guardian (to be downloaded from College Website).</br>
                    (6) A valid Income Certificate of Parents (applicable to those who are applying for
                    Scholarships).</br>
                    (7) A valid Caste Certificate (applicable to those who are applying for Scholarships).</br>
                <!-- </ol> -->
                </li></br>
                
                <li>Late Registration fee of Rs. 100/- per day will be charged after the due date mentioned in
                    the above schedule. Registrations with late fee will be done in respective departments.
                </li></br>
                
                <li><b>Hostel facility: </b>Accommodation will be made available to all eligible students. The
                    allotment of available seats in boys’ hostels will be made as per the “Hostel Allotment
                    Policy 2022-23”. Eligible and willing candidates are required to report at the Hostel
                    allotment counter on the day of registration with the following documents:
                    <ol>
                    (1) Hostel Allotment Form 2022-23 (to be downloaded from the College Website) and
                    (2) Two copies of Advance Mess Fee Receipt - to be downloaded from “Payment History
                    tab of Mess Fee form” on “Online Fee Submission Portal” / or Cash Challan Receipt.
                    (3) Two copies of Mess Security Deposit Receipt - to be downloaded from “Payment
                    History tab of Other Fees form” on “Online Fee Submission Portal”/ or Cash Challan
                    Receipt (applicable to those who are availing Mess Facility for the first time)
                    </ol>
                </li></br>
            </ul>


            <h3>Hostel Allotment Policy 2023-24</h3></br>
            
            <h4>For Girls: All girl students will be allotted the Girls Hostel (GH).</h4></br>
            
            <h4>For Boys: Following hostel allotments will be done for boys.</h4></br>

            <p>
                a) Boys Hostel-1 (BH1) will be allotted to the following male students willing to
                avail the hostel facility -</br>
                i. All 2 nd year students (All Branches)</br>
                ii. Final year students of Electrical Engineering (EE) and Electronics Engineering
                (EL) branches</br>
            </p></br>
            <p>
                b) Boys Hostel-2 (BH2) will be allotted to the following male students willing to
                avail the hostel facility -</br>
                i. All 3 rd year students (All Branches)</br>
                ii. Final year students of Computer Science & Engineering (CSE) branch</br>
            </p></br>
            <p>
                c) Boys Hostel-3 (BH3) will be allotted to the following male students willing to
                avail the hostel facility -</br>
                i. All 1 st year students (All Branches)</br>
            </p></br>
            <p> d) No Ex student/Year back student will be provided hostel facility.</p></br>
            <p> e) Any student who has been punished by the discipline committee will not be
                provided hostel facility.</p></br>
            <p> f) Those students who are local residents of Churk or Robertsganj will be given least
                priority in the hostel allotment procedure.
            </p>
            </br></br>


            <h3>Additional Documents Required at the Time of Registration for 1 st & 2 nd Year Lateral Entry Students only:</h3></br>
            
            <li>1.Original allotment letter issued by AKTU Counselling & Admit Card of JEE/CUET 2022.</li>
            <li>2.Original receipt of seat acceptance fee Rs. 20,000/Rs. 12,000 deposited during counselling.</li>
            <li>3.Original 10th pass certificate (for proof of date of birth).</li>
            <li>4.Original qualifying examination pass mark sheet (12th/Diploma).</li>
            <li>5.Original TC/ Migration.</li>
            <li>6.Original Caste certificate in case of SC/ST/OBC (in case of OBC, issued after 31/03/2022).</li>
            <li>7.Original character certificate in prescribed format issued from the college last attended.</li>
            <li>8.Sub-category certificate if applicable (if applicable).</li>
            <li>9.Weightage certificate if applicable (if applicable).</li>
            <li>10. Original certificate of source annual income of parent (issued after 31/03/2022).</li>
            <li>11. Original domicile certificate if qualifying examination is other then Uttar Pradesh.</li>
            <li>12. Original medical certificate in prescribed format.</li>
            <li>13. Affidavit regarding gap year (if applicable).</li>
            <li>14. 02 Recent passport sizes coloured photographs.</li>
            <li>15. 02 sets of attested photo copies of all above documents.</li>
            </br></br>
        </div>
    </body>
</html>