<h1>Login</h1>
<% for (let i=0; i<errors.length; i++) { %>
    <li><%= errors[i]%></li>
<% } %>
<form action="/login" method="POST">

<div>
    <label for="UserID">UserID</label>
    <input type="text" id="UserID" name="UserID" required>
</div>

<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
</div>

<button type="submit">login</button>
</form>


<form action="/adminLogin" method="POST">

<div>
    <label for="UserID">UserID</label>
    <input type="text" id="UserID" name="UserID" required>
</div>

<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
</div>

<button type="submit">login</button>
</form>