<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Admin Users</title>
</head>
<body>
    <form action="/admin-creation" method="POST">
        <label for="admin-name">ID: </label>
        <input type="text" name="UserID" />

        <br>

        <!-- <label for="hostel">hostel</label>
        <input type="text" name="hostel" /> -->

        <input type="submit" value="Submit">
    </form>
</body>
</html>