<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="./css/viewmorepopup.css" />
</head>

<body>
    <div class="pop-up">
        <div class="modal">
            <div class="grid">
                
                    <label for="field"> Field Name: </label>
                    <span class="value"> Field Value </span>
                
                
                    <label for="field"> Field Name: </label>
                    <span class="value"> Field Value </span>
                
                
                    <label for="field"> Field Name: </label>
                    <span class="value"> Field Value </span>
                
                
                    <label for="field"> Field Name: </label>
                    <span class="value"> Field Value </span>
                
            </div>
        </div>
    </div>
</body>

</html>