body {
  font-family: Arial, sans-serif;
  background-color: #ffff;
}

.container {
  width: 60%;
  box-shadow: 0 0 2px 2px silver;
  margin: 8% auto;
  height: 70%;
}
.container h2{
  color: #010081;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid silver;
  margin-bottom: 10px;
}
label {
  font-size: 20px;
  font-weight: 600;
  /* margin-top: 20px; */
  margin-left: 20px;
  margin-bottom: 20px;
}

.update-heading {
  width: 550px;
  height: 40px;
  font-size: 18px;
  padding: 5px;
  margin-top: 2%;
  margin-left: 50px;
}

.update-description {
  width: 550px;
  height: 100px;
  font-size: 16px;
  margin-left: 50px;
  padding: 5px;
}

.btn {
  width: 80px;
  height: 30px;
  margin-left: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #010081;
  color: #010081;
  cursor: pointer;
  outline: none;
  padding: 5px;
}