body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
h2{
  color: #010081;
  font-size: 22px;
  text-align: center;
  padding: 10px 20px 30px 20px;
  margin-top: 30px;
  border-bottom: 1px solid silver;
  /* box-shadow: 0px 3px #1b555599; */
}

.all-form{
  margin-top: 20px;
  display: grid;
  column-gap: 2rem;
  padding: 20px 30px 20px 30px;
  grid-template-columns:repeat(4, 2fr);
}

.input-control label {
  color:#010081;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.input-control input {
  border: 0.5px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width:180px;
 }
 .input-control input[type="number"] {
  margin-bottom: 20px;
  width:150px;
  height: 25px;
  color: #010081;
 }
h3{
  font-size:18px;
  color:#010081;
  margin-bottom: 25px;
}

.input-control input[type="submit"] {
  width:80px;
  height:30px;
  margin-left: 48%;
  margin-top: 50px;
  background-color: #ffff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  border: 2px solid #010081;
  color: #010081;
  cursor: pointer;
  outline: none;
  padding: 5px;
}

.input-control input[type="submit"]:hover {
  background-color: #cff0d1;
}

.input-control{
  display:flex;
  justify-content: space-between;
} 
.form-container{
  border: 0.1px solid #1b555599;
  box-shadow: 1px 2px #1b555599;
  padding:10px 20px 10px 20px;
}