*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


:root {
    --color-primary: #010081;
    --color-secondary: #ffffff;
    --color-black: #000000;
    --ff: 'Poppins', sans-serif;
}

body {
    width: 100%;
    font-family: var(--ff);
    color: var(--color-primary);
}

header {
    padding: 30px 20px 30px 20px;
    display: flex;
    border-bottom: 1px solid silver;
    align-items: center;
    box-shadow: 1px 3px #1b555599;
}

header .logo {
    height: 80px;
    width: 80px;
    margin-left: 40px;
    border: 1px solid #3e3e3e;
    border-radius: 100px;
}

header .collagelogo {
    height: 80px;
    width: 80px;
}

header .college-name {
    text-align: center;
}

header .college-name h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

header .college-name h5 {
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    text-align: center;
}

.docs-page {
    display: flex;
}

.dashboard {
    background-color: #ffff;
    padding: 10px 50px 10px 50px;
    margin-top: 20px;

}

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 4.5fr;
    column-gap: 10px;
}

.dashboard-content {
    padding: 10px;
}

.submitted-docs {
    margin-left: 200px;
    display: flex;
    margin-top: 15px;

}

.document-type {
    display: flex;
    font-size: 18px;
    margin-left: 20px;
}

.dashboard-button {
    font-size: 14px;
    width: 150px;
    height: 30px;
    background-color: rgb(233, 247, 247);
    text-align: center;
    color: #010081;
    font-weight: 300;
    padding: 5px 5px;
    border: 0.5px solid var(--color-primary);
    border-radius: 5px;
    margin-left: 30px;
}

.text-decoration-none {
    color: #010081;
}

.sideMenu-active {
    color: #010081;
}


header .student-name {
    display: flex;
    align-items: center;
}

.student-name {
    color: #010081;
    font-size: 16px;
    font-weight: 600;
}






/*Academic calendar */
.academic-calendar {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.calendar {
    font-size: 20px;
    color: #010081;
    font-weight: 400px;

}

p {
    margin-top: 20px;
    font-size: 14px;
    margin-left: 80px;
}


/* status */
.Registration-status p {
    font-size: 20px;
}

.pending-payments p {
    font-size: 20px;
}