body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg,#010081,#31DEDE99);
    margin: 0;
    padding: 0;
    height:auto;
}
.form-container{    
    width:45%;
    top:5%;
    left:25%;
    margin-bottom:5%;
    height:auto;
    position:relative;
    background-color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}

.error-block{
    display: none;
}

.popup-error{
    text-align: center;
    font-size: 14px;
    color:red;
}
form{
    display: -ms-inline-grid;
    margin-bottom: 10px;
    padding:0 60px;
    box-sizing: border-box;
}
.formdata{
    display:grid;
    grid-template-columns: 180px 0;
    
}
.personal-form h1{
    text-align: center;
    padding:0 0 15px 0;
    border-bottom: 1px solid silver;
    color:#010081;
}
.personal-form h2{
    text-align: center;
    margin-top: 0;
    color:#010081;
}

label {
    display:flexbox;
    align-items: center;
    font-size: 18px;
    color: #010081;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
}
  
input[type="text"],
input[type="number"],
input[type="date"] {
  border: 1px solid #1441a9;
  border-color: #010081;
  color: #010081;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 80px;
  padding: 5px;
  width: 250px;
  height:40px;
}

select {
    border: 1px solid #1441a9;
    border-color: #010081;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffff;
    color: #010081;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 80px;
    padding: 5px;
    width: 250px;
    height:40px;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}


.btn{
    width:150px;
    height:40px;
    background-color: #EFEFEF;
    font-size: 20px;
    border-radius: 50px;
    border: 1.5px solid #010081;
    color: #010081;
    cursor: pointer;
    margin-left: 35%;
    margin-bottom: 20px;
    outline: none;
    padding: 5px;
  }
    
  .btn:hover {
      background-color: #31DEDE99;
      color: #010081;
  }
