*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


:root {
    --color-primary: #010081;
    --color-secondary: #ffffff;
    --color-black: #000000;
    --ff: 'Poppins', sans-serif;
}

body {
    width: 100%;
    font-family: var(--ff);
    color: var(--color-primary);
}

header {
    padding: 1.0625rem 1rem; 
    display: flex;
    justify-content: space-between;
}

header .logo {
    height: 8.5rem;
    width: 8.5rem;
    border-radius: 100px;
}

header .college-name {
    padding-top: 1.75rem;
    text-align: center;
}

header .college-name h3 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
}

header .college-name h5 {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 500;
}

header .sign-in {
    padding-top: 2.75rem;
}

header .sign-in .sign-in-btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.825rem 1.5rem;
    border: 2px solid var(--color-primary);
    border-radius: 50px;
    cursor: pointer;
}


/* styles for the heading or system name */
.heading {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem;
    background: #31DEDE99;
    border: 1px solid var(--color-primary);
}



/* main section with functionalities and animated image */
.main-section-with-functionalities {
    padding: 3rem 5%;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
}

.main-section-with-functionalities .functionalities div {
    border: 2px solid #010081;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1.75rem;
    cursor: pointer;
}

.main-section-with-functionalities .functionalities div a {
    display: block;
    padding: 0.75rem 1rem 0.850rem 1rem;
}

.main-section-with-functionalities .functionalities div:hover {
    color: white;
    background: #010081;
}


/* highlights indicator */
.highlights-indicator {
    width: 100%;
    font-size: 1.75rem;
    font-weight: 600;
    background: #31DEDE99;
    padding-left: 3.75rem;
}

.highlights-indicator .highlight-text {
    background: var(--color-secondary);
    display: inline-block;
    text-transform: uppercase;
    padding: 0.2rem 1.125rem;
    letter-spacing: 0.1em;
}


/* news and circular indicator */
.news-and-circular-indicator {
    margin: 1.5rem 1.75rem 1rem 1.75rem;
    font-size: 1.825rem;
    font-weight: 700;
}


/* see more option */
.see-more-option {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3.75rem;
    font-size: 1.0625rem;
    color: var(--color-black);
    font-weight: 500;
    cursor: pointer;
}


/* news container sliding from bottom to top */
.news-container {
    color: var(--color-black);
}

.dividing-line {
    width: 95%;
    background-color: var(--color-black);
    height: 1.5px;
    margin: 0.25rem auto 0.25rem auto;
}

.news-container .news {
    padding: 1rem 2.5rem;
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr;
    column-gap: 4rem;
}

.news-container .news .date {
    font-size: 1.25rem;
    padding-top: 0.5rem;
    font-weight: 600;
    padding-top: 0.65rem;
}

.news-container .news .content {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 0.5rem;
}

.news-container .news .view-btn {
    font-size: 1.25rem;
    font-weight: 400;
    padding: 0.625rem 2.25rem;
    border: 2px solid var(--color-black);
    border-radius: 50px;
    align-self: center;
    cursor: pointer;
}

.news-container .news .view-btn:hover {
    background: #000000;
    color: #ffffff;
}

/* footer */
footer {
    background: #31DEDE99;
    border: 1px solid var(--color-primary);
    bottom: 0;
    left: 10px;
    right: 0;
    display: flex;
    padding: 1rem 4rem 1rem 0.5rem;
    justify-content: space-around;
}
h6{
    display:block;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align:center;
    color: #010081;
    padding-top: 1.5rem;
}
footer .logo {
    height: 5.6875rem;
    width: 5.6875rem;
    border: 1px solid #3e3e3e;
    border-radius: 100px;
    /* margin-left: 20px; */
}
footer .collagelogo{
    height:5.6875rem;
    width:5.6875rem;
    

}
.pages{
    color: #010081;
}
.pages:hover{
    color: white;
    background: #010081;
}

@media (min-width: 1440px) {
    header {
        padding: 2.375rem 1.75rem 2.125rem 2.75rem; 
    }

    header .logo {
        height: 8.6875rem;
        width: 8.6875rem;
    }
    header.collagelogo{
        height:8.6875rem;
        width:8.6875rem;
    
    }
    header .college-name h3 {
        font-size: 2.675rem;
    }

    header .sign-in .sign-in-btn {
        font-size: 1rem;
        width: 110px;
        height:40px;
        font-weight: 600;
        padding: 0.25rem 1.625rem;
        border: 1.5px solid var(--color-primary);
        border-radius: 40px;
    }   
    header .sign-in .sign-in-btn:hover {
            background-color: #31DEDE99;
            color:#010081;
    }
    .heading {
        font-size: 2rem;
        padding: 0.5rem;
    }
    .main-section-with-functionalities {
        padding: 4.4375rem 10% 4.1875rem 10.09%;;
    }
    .news-and-circular-indicator {
        margin: 1.5rem 2.75rem;
        font-size: 2.125rem;
        font-weight: 600;
    }
    .news-container .news {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        display: grid;
        grid-template-columns: 1fr 3fr 0.5fr;
        column-gap: 3rem;
    }

    .news-container .news .content {
        text-align: center;
    }
    
    .news-container .news .view-btn {
        padding: 0.5rem 1.5rem;
        text-align: center;
    }
    
    
}
