.container{
    padding:10px 20px 10px 20px;
    margin-top: 50px;
    align-items: center;
}
.container label {
    color:#010081;
    font-weight: bold;
    font-size: 14px;
    margin-left: 50px;
  }
  .container input {
    border: 0.5px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width:180px;
    margin-left: 50px;

   }
   button {
    width:80px;
    height:30px;
    background-color: #ffff;
    font-size: 14px;
    font-weight: 700;
    /* align-items: center; */
    margin-left: 100px;
    margin-left: 100px;
    border-radius: 10px;
    border: 1.5px solid #010081;
    color: #010081;
    cursor: pointer;
    outline: none;
    padding: 5px;
  }
  
  button:hover {
    background-color: #cff0d1;
  }
  