.container{
    padding:10px 20px 10px 20px;
    box-shadow: 0 0 2px 2px silver;
    width: 600px;
    margin: 5% auto;
    align-items: center;
    height:300px;
}

.container label {
    color:#010081;
    font-weight: bold;
    font-size: 18px;
    margin-left: 0px;
}

.form-details{
  margin-top: 20px;
  display: grid;
  column-gap: 2rem;
  padding: 20px 30px 20px 30px;
  grid-template-columns:repeat(1, 2fr);
}

  .container input[type="text"] {
    border: 1px solid #1441a9;
    border-color: #010081;
    color: #010081;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffff;
    font-size: 16px;
    padding: 5px;
    margin-left: 40px;
    margin-bottom: 2px;
    margin-top: 2px;
    width: 150px;
    height:30px;
    cursor: pointer;  
   }
   button {
    margin:auto;
    margin-top:-100px;
    width:80px;
    height:30px;
    background-color: #ffff;
    font-size: 14px;
    font-weight: 700;
    margin-left: 400px;
    border-radius: 10px;
    border: 1.5px solid #010081;
    color: #010081;
    cursor: pointer;
    outline: none;
    padding: 5px;
  }
  
  button:hover {
    background-color: #cff0d1;
  }
  .container input[type="file"]{
    border: 1px solid #1441a9;
    border-color: #010081;
    color: #010081;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffff;
    font-size: 16px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 20px;
    width: 220px;
    cursor: pointer;  
  }