.hidden {
    display: none;
  }

.form-container{
    position: relative;
    border-radius: 5px;    
    background-color: #fff;
    width: 100%;
    border: 2px solid #05797999;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.form-header{
    margin-left:10px;
    height:50px;
    color: #010081;
}
.form-header h1{
    color: #010081;
    font-size: 26px;
    font-weight:600;
    text-transform: uppercase;
    text-align: center;
}

.form-header h6{
    color: #05797999;
    font-size: 12px;
    text-align: right;
}

.subform-header{
    margin-left:10px;
    color: #010081;
    font-size: 22px;
    margin-bottom:0px;
    margin-top: 50px;
    font-weight: 500px;
}
.form-all h4{
    margin-top: 20px;
}

.form-details{
    margin-top: 10px;
    padding:10px;
}

.personal-information-form{
    position:relative;
    background-color: #fff;
}

.fee-details-form{
    position:relative;
    background-color: #fff;

}

.hostel-details-form{
    position:relative;
    background-color: #fff;
}

.educatinal-details-form{
    position:relative;
    background-color: #fff;
}

.payment-form{
    position:relative;
    /* margin-top:16px;
    min-height:490px; */
    background-color: #fff;
}

.form-details label{
    margin-bottom: 5px;
    color: black;
    font-weight:500;
    display: inline-block;
}

.form-details {
    display: grid;
    column-gap: 3rem;
    row-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

.form-details .input-control {
    align-self: center;
}

.input-control{
    display:flex;
    flex-direction: column;
}

.input-control select {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
    background-color: #fff;
	font-size: 12px;
	padding: 10px;
	width: 80%;
    color: #010081;
    font-size: 12px;
    font-weight: 50px;
}

.form-button{
    margin-top:20px;
    margin-bottom:20px;
    display: flex;
    gap: 20px;
    margin-left:80%;
}

.btn{
    width:80px;
    height:30px;
    background-color: #ffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid #05797999;
    color: #010081;
    cursor: pointer;
    outline: none;
    padding: 5px;
}
.prev-btn{ 
    width:80px;
    height:30px;
    background-color: #ffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid #05797999;
    color: #010081;
    cursor: pointer;
    outline: none;
    padding: 5px;
}


.btn:hover {
    background-color: green;
    color: #ffff;
}
.prev-btn:hover{
    background-color: #fba147;
    color: #ffff;
}


.input-control input {
    border: 1.5px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 14px;
	padding: 10px;
	width: 80%;
    color: #010081;
    font-weight: 50px;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: rgb(218, 45, 45);
    font-weight: 10px;
}

.input-control .error {
    color: rgb(218, 45, 45);
    font-size: 9px;
    margin-top: 2px;
    font-weight: 10px;
    height: 13px;
}

.personal-information{
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius:10px;
    box-shadow: 2px #010081;
    max-width: 100%;

}

.educational-details {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius:10px;
    box-shadow: 2px #010081;
    max-width: 70%;
    /* margin-top: 10px; */
    position: absolute;
}

.hostel-details {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    /* margin-top: 10px; */
    -webkit-border-radius:10px;
    box-shadow: 2px #010081;
    max-width: 70%;
    position: absolute;
}

.payment {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius:10px;
    box-shadow: 2px #010081;
    max-width: 70%;
    /* margin-top: 10px; */
    position: absolute;
}

.fee-details {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius:10px;
    box-shadow: 2px #010081;
    max-width: 70%;
    /* margin-top: 10px; */
    position: absolute;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* animation: slide-in 0.5s ease-in; */
}


/* form slide in animation */
/* @keyframes slide-in {
    0% {
        transform: translateX(110%);
    }
    100% {
        transform: translateX(0%);
    }
} */

.checkbox{
    width:20px;
    height:20px;
    margin-left: -100px;
}

.same-as-permanent{
    margin-top: -20px;
    margin-left: 25px;
    font-size: 16px;
}

.educational-details{
    margin-bottom: 100px;
 
}
.fee-details{
    margin-bottom: 100px;
}

.hostel-select{
    width:200px;
    height:30px;   
}
.fee-type{
    width:200px;
    height:30px;   
}

.form-all{
    padding:20px 40px 20px 40px;
}

.complete-form {
    display: none;
}




