.pop-up {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom : 0;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cfcfcf73;
    height: 100vh;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #cecece;
    background: #ffffff;
    border-radius: 5px;
}

.close-btn {
    align-self: flex-start;
    padding-top: 1rem;
    padding-right: 1rem;
}

.grid {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

